@using Diploma.ViewModels
@model Diploma.ViewModels.DocumentManageModel

<div class="col-lg-9">
    <form asp-action="DocumentManage">
        <div class="form-horizontal">
            <h4>Document</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DocumentName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DocumentName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Version)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Version)
                </dd>
                <dt style="width: 200px">
                    Following users have access:
                    <br/>
                    @foreach (var user in Model.UsersWithAccess)
                    {
                        <p>@user</p>
                    }
                </dt>
                <dd>                    
                </dd>
            </dl>

            <div class="form-group">
                <label asp-for="NewAccessForUser" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NewAccessForUser" id="allusers" class="form-control" />
                    <span asp-validation-for="NewAccessForUser" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <label asp-for="RequestSignature">
                            <input asp-for="RequestSignature" />
                            @Html.DisplayNameFor(m => m.RequestSignature)
                        </label>
                    </div>
                </div>
            </div>
            
            @*@using (Html.BeginForm("DocumentManage", "Document", FormMethod.Post))
            {*@
                @*<input type="text" id="txtCustomer" name="NewAccessForUser"/>*@
                @*<input type="hidden" id="hfCustomer" name="CustomerId"/>
                <br/><br />
                <input type="submit" id="btnSubmit" value="Submit"/>
                <br/><br/>
                @ViewBag.Message
            }*@
            
            

            @*<div class="form-group">
                <label asp-for="UserFolderId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="UserFolderId" class="form-control" asp-items="ViewBag.UserFolderId"></select>
                    <span asp-validation-for="UserFolderId" class="text-danger"></span>
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

