@model IEnumerable<Diploma.Core.Models.UserTask>

<div class="col-lg-9">
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Summary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SignatureRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignedTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskStatus)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignatureRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo)
            </td>
            <td>
                <select class="form-control" name="organization" style="display: inline;">
                    @if (item.TaskStatus.ToString() == "InProgress")
                    {
                        <option value="InProgress" selected="selected">InProgress</option>
                    }
                    else
                    {
                        <option value="InProgress">InProgress</option>
                    }
                    @if (item.TaskStatus.ToString() == "Done")
                    {
                        <option value="Done" selected="selected">Done</option>
                    }
                    else
                    {
                        <option value="Done">Done</option>
                    }
                    
                </select>
            </td>
            <td>
                <input type="submit" class="btn btn-sm btn-default" value="Update status" />
            </td>
        </tr>
}
    </tbody>
</table>
</div>