@using Diploma.Core.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diploma</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Article")">HOME</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("CreateBlog", "Blog")">Create blog</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("Users", "Home", new {forEdit = true})">Managing Roles</a></li>
                        }
                    </ul>
                    <form class="navbar-form navbar-left" action="/Search/ByTag" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="tag" placeholder="enter tag here">
                        </div>
                        <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search" style="float: right"></span></button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <div class="navbar-collapse collapse">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-list">
                            <li><a href="@Url.Action("Index", "Article")"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                            <li><a href="@Url.Action("CreateArticle", "Article")"><i class="glyphicon glyphicon-edit"></i> Create article</a></li>
                            <li><a href="@Url.Action("Blogs", "Blog")"><i class="glyphicon glyphicon-picture"></i> My blogs</a></li>
                            <li><a href="@Url.Action("Users", "Home")"><i class="glyphicon glyphicon-user"></i> Users</a></li>
                            <li><a href="@Url.Action("About", "Home")"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-list">
                            @foreach (var folder in @ViewData["Folders"] as IEnumerable<UserFolder>)
                            {
                                <li><a href=""><i class="fa fa-folder-o" aria-hidden="true"></i> @folder.Name <span style="float: right" class="badge">@folder.Documents.Count</span></a></li>
                            }                            
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-list">
                            <li><a href=""><i class="fa fa-pencil" aria-hidden="true"></i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> My signature requests <span style="float: right" class="badge">3</span></a></li>
                            <li><a href=""><i class="fa fa-pencil" aria-hidden="true"></i> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Incoming signature requests <span style="float: right" class="badge">3</span></a></li>
                            <li><a href=""><i class="fa fa-share" aria-hidden="true"></i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> My document access requests <span style="float: right" class="badge">3</span></a></li>
                            <li><a href=""><i class="fa fa-share" aria-hidden="true"></i> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Incoming document access requests <span style="float: right" class="badge">3</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Search in text</div>
                    <div class="panel-body">
                        <form class="navbar-form navbar-left" action="/Search/ByText" role="search">
                            <div class="form-group">
                                <input type="text" style="width: 170px;" class="form-control" name="substring" placeholder="Enter your text here">
                            </div>
                            <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Find blog</div>
                    <div class="panel-body">
                        <form class="navbar-form navbar-left" method="POST" action="/Search/Blogs" role="search">
                            <div class="form-group">
                                <input type="text" style="width: 170px;" class="form-control" name="blogTitle" placeholder="Blog title">
                                <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="body-content" id="Content">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Final blog project by Opolko for EPAM</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/docload.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
